@model Nop.Plugin.Reports.DotnetReport.Models.DotNetReportUserRegister

@inject Nop.Core.IWebHelper webHelper

@{
    //Layout = "_ConfigurePlugin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="form-horizontal">



        <form asp-controller="DotNetSetup" asp-action="UserRegister" method="post">
            <div class="content-header clearfix">
                <h1 class="pull-left">
                    User Registration
                </h1>
                <div class="pull-right">
                    <button type="submit" name="save" class="btn bg-blue">
                        <i class="fa fa-floppy-o"></i>
                        Register
                    </button>
                    @Html.ActionLink("Go to Configuration", "Configure", "DotNetSetup", new { Area = "Admin", id = Guid.NewGuid() }, new { @class = "btn btn-default pull-right" })
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="Email" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Email" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="Name" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Name" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="BusinessName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="BusinessName" />
                                    <span asp-validation-for="BusinessName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="Phone" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Phone" />
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


