@model Nop.Plugin.Reports.DotnetReport.Models.DotNetReportConfig

@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="DotNetSetup" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            Please enter your dotnet Report Account information below. If you do not have an account, please <a href="https://dotnetreport.com/account/register" target="_blank">Sign up for a Free account</a>.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 text-right">
                        <label class="control-label">Report API Url</label>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiUrl" />
                        <span asp-validation-for="ApiUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 text-right">
                        <label class="control-label">Report Account Key</label>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccountApiToken" />
                        <span asp-validation-for="AccountApiToken"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 text-right">
                        <label class="control-label">Data Connection Key</label>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DataConnectApiToken" />
                        <span asp-validation-for="DataConnectApiToken"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 text-right">
                        <label class="control-label">Private Account Key</label>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PrivateApiToken" />
                        <span asp-validation-for="PrivateApiToken"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                        @Html.ActionLink("Go to Setup", "Index", "DotNetSetup", new { Area = "Admin" }, new { @class = "btn bg-blue pull-right" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>